[submodule "Core"]
	path = Core
	url = https://github.com/heruan/Aldu-Core.git
[submodule "Blog"]
	path = Blog
	url = https://github.com/heruan/Aldu-Blog.git
[submodule "Console"]
	path = Console
	url = https://github.com/heruan/Aldu-Console.git
[submodule "Auth"]
	path = Auth
	url = https://github.com/heruan/Aldu-Auth.git
[submodule "Media"]
	path = Media
	url = https://github.com/heruan/Aldu-Media.git
